#group {
    .page_title_div {
        display: flex;
        width: 100%;
        height: 38px;
        border-bottom: 1px solid var(--Gray-50, #EEEFF2);
        align-items: center;

        div {
            width: 100%;
            height: 38px;
            font-size: 14px;
            font-weight: 600;
            line-height: 140%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .active {
            color: var(--Main-400-Primary, #FF6B6B);

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 30px;
                height: 2px;
                background: var(--Main-400-Primary, #FF6B6B);
            }
        }


        .no {
            color: var(--Gray-400, #8992A4);
        }
    }
}

.mygroup_main {
    width: 100%;

    .top_info_img {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 250px;
        background: lightgray 50% / cover no-repeat;

        .background {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 4px;
            padding: 20px;

            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.65) 100%);
        }

        .title {
            color: var(--White, #FFF);
            font-size: 20px;
            font-weight: 600;
            line-height: 140%;
        }

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info_txt {
                color: var(--Gray-100, #D4D7DE);
                font-size: 16px;
                font-weight: 500;
                line-height: 140%;
            }

            .people {
                display: flex;

                img {
                    width: 24px;
                    height: 24px;
                }

                .num {
                    color: var(--Main-400-Primary, #FF6B6B);
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 150%;
                }
            }

        }
    }



    .middle_title_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 20px 20px;

        .title {
            color: var(--gray-800-txtp, #2A2E37);
            font-size: 18px;
            font-weight: 600;
            line-height: 140%;
        }

        .more {
            color: var(--gray-600-txts, #575F70);
            font-size: 14px;
            font-weight: 500;
            line-height: 140%;
        }
    }

    .feed_div {
        display: flex;
        flex-direction: column;
        gap: 16px;

        hr {
            color: #EEEFF2;
        }
    }

    .memory_div {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .out_div {
        width: 100%;
        display: flex;
        padding-bottom: 105px;
        justify-content: center;
        margin-top: 32px;

        .out_button {
            padding: 6px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            background: var(--Main-50, #FFF1F1);
            color: var(--Main-400-Primary, #FF6B6B);
            font-size: 14px;
            font-weight: 600;
            line-height: 140%;
        }
    }

    .chat_modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5); // 검은색 반투명
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1001; // 다른 요소 위에 표시되도록 설정
    }

    .chat_modal-content {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        overflow: auto;

        p {
            margin: 0;
        }
    }

    .popup_request_final {
        width: 100%;
        max-width: 375px;
        min-width: 340px;
        margin: auto;
        border-radius: 20px;
        background: #ffffff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;

        .popup_content {
            text-align: center;

            .popup_title {
                padding-top: 28px;
                color: var(--txt_primary, #2A2E37);
                font-size: 16px;
                font-weight: 700;
                line-height: 140%;
            }

            .details {
                padding: 12px 20px;
                align-items: flex-start;
                gap: 10px;
                align-self: stretch;

                .detail_item {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-bottom: 12px;

                    .detail_label {
                        color: var(--gray-600-txts, #575F70);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 140%;
                        padding-bottom: 7px;
                    }

                    .detail_value {
                        color: #282D37;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 140%;
                    }
                }

                .edit {
                    border: none;
                    color: var(--Main-400-Primary, #FF6B6B);
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 140%;
                }

                .detail_text {
                    padding: 6px 10px;
                    color: var(--gray-600-txts, #575F70);
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 140%;
                }
            }

            .actions {
                text-align: center;

                .bottom_actions {
                    display: flex;
                    padding: 10px 16px 16px 16px;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;

                    .cancel {
                        padding: 15px 24px;
                        border-radius: 8px;
                        color: var(--Main-400-Primary, #FF6B6B);
                        background: var(--Main-50, #FFF1F1);
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 140%;
                        width: 100%;
                    }

                    .submit {
                        padding: 15px 24px;
                        border-radius: 8px;
                        background: var(--Main-400-Primary, #FF6B6B);
                        color: var(--White, #FFF);
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 140%;
                        width: 100%;
                    }
                }
            }
        }
    }

    .empty_chat {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50%;
        flex-direction: column;
        gap: 16px;

        img {
            width: 248.4px;
        }

        p {
            color: var(--Gray-300, #A6ACBA);
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 140%;
        }
    }
}

.other_group {
    height: 100%;
    padding: 24px 0px 161px;
    width: 100%;

    .group_list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .no_group_div {
        margin-top: 16px;
        width: 100%;
        padding: 0 20px;
        bottom: 101px;
        display: flex;
        padding-bottom: 101px;

        .no_group {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 60px;
            border-radius: 8px;
            background: var(--Gray-25, #F6F7F8);
            padding: 12px 20px;
            align-items: center;

            .text {
                color: var(--gray-600-txts, #575F70);
                font-size: 16px;
                font-weight: 500;
                line-height: 140%;
            }

            .new_group {
                display: flex;
                padding: 8px 14px 8px 10px;
                justify-content: center;
                align-items: center;
                gap: 6px;
                border-radius: 8px;
                background: var(--Main-50, #FFF1F1);

                .heart {
                    width: 20px;
                    height: 20px;
                }

                .txt {
                    color: var(--Main-400-Primary, #FF6B6B);
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 140%;
                }
            }
        }
    }
}

#group_memory {
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    background: var(--Gray-25, #F6F7F8);

    .top {
        display: flex;
        height: 44px;
        padding: 10px 20px 10px 20px;
        background: var(--White, #FFF);

        img {
            width: 24px;
            height: 24px;
        }

        .top_title {
            width: 100%;
            text-align: center;
            padding-right: 24px;
        }
    }

    .contents {
        width: 100%;
        height: 100%;

        .contents_title {
            color: var(--gray-800-txtp, #2A2E37);
            font-size: 16px;
            font-weight: 700;
            line-height: 140%;
            padding: 24px 20px;
        }
    }

    .memory_div {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

#group_neighbor {
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    background: var(--Gray-25, #F6F7F8);

    .top {
        display: flex;
        height: 44px;
        padding: 10px 20px 10px 20px;
        background: var(--White, #FFF);

        img {
            width: 24px;
            height: 24px;
        }

        .top_title {
            width: 100%;
            text-align: center;
            padding-right: 24px;
        }
    }

    .mid_info {
        width: 100%;
        padding: 12px 20px 0px;

        .info_text {
            width: 100%;
            padding: 12px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background: var(--White, #FFF);
            color: var(--Gray-300, #A6ACBA);
            font-size: 16px;
            font-weight: 600;
            line-height: 140%;
        }
    }

    .contents {
        width: 100%;
        height: 100%;

        .contents_num {
            color: var(--gray-800-txtp, #2A2E37);
            font-size: 16px;
            font-weight: 700;
            line-height: 140%;
            padding: 20px 20px;
        }

        .neighbor_div {
            padding: 0 20px;
            width: 100%;
            display: flex;
            gap: 12px;
            flex-direction: column;
            align-items: center;
        }
    }

}

#other_group_detail {
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    position: relative;

    .top {
        display: flex;
        height: 44px;
        padding: 10px 20px 10px 20px;

        img {
            width: 24px;
            height: 24px;
        }

        .top_title {
            width: 100%;
            text-align: center;
            padding-right: 24px;
        }
    }

    .contents {}

    .bottom {
        padding: 12px 20px;
        position: absolute;
        background: var(--White, #FFF);
        bottom: 0;
        width: 100%;

        .button {
            width: 100%;
            padding: 15px 24px;
            display: flex;
            border-radius: 8px;
            background: var(--Main-400-Primary, #FF6B6B);
            color: var(--White, #FFF);
            font-size: 16px;
            font-weight: 600;
            line-height: 140%;
            justify-content: center;
            align-items: center;
        }
    }
    .chat_modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5); // 검은색 반투명
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1001; // 다른 요소 위에 표시되도록 설정
    }

    .chat_modal-content {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        overflow: auto;

        p {
            margin: 0;
        }
    }

    .popup_request_final {
        width: 100%;
        max-width: 375px;
        min-width: 340px;
        margin: auto;
        border-radius: 20px;
        background: #ffffff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;

        .popup_content {
            text-align: center;

            .popup_title {
                padding-top: 28px;
                color: var(--txt_primary, #2A2E37);
                font-size: 16px;
                font-weight: 700;
                line-height: 140%;
            }

            .details {
                padding: 12px 20px;
                align-items: flex-start;
                gap: 10px;
                align-self: stretch;

                .detail_item {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-bottom: 12px;

                    .detail_label {
                        color: var(--gray-600-txts, #575F70);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 140%;
                        padding-bottom: 7px;
                    }

                    .detail_value {
                        color: #282D37;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 140%;
                    }
                }

                .edit {
                    border: none;
                    color: var(--Main-400-Primary, #FF6B6B);
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 140%;
                }

                .detail_text {
                    padding: 6px 10px;
                    color: var(--gray-600-txts, #575F70);
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 140%;
                }
            }

            .actions {
                text-align: center;

                .bottom_actions {
                    display: flex;
                    padding: 10px 16px 16px 16px;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;

                    .cancel {
                        padding: 15px 24px;
                        border-radius: 8px;
                        color: var(--Main-400-Primary, #FF6B6B);
                        background: var(--Main-50, #FFF1F1);
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 140%;
                        width: 100%;
                    }

                    .submit {
                        padding: 15px 24px;
                        border-radius: 8px;
                        background: var(--Main-400-Primary, #FF6B6B);
                        color: var(--White, #FFF);
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 140%;
                        width: 100%;
                    }
                }
            }
        }
    }
}