@charset "UTF-8";

/* Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

// setting
@import "setting/reset";
@import "setting/font";

@import "login/login";

//section
@import "section/nav";

//chat
@import "chat/chat_main";
@import "chat/chat_rooms";
@import "chat/chat_volunteer";
@import "chat/request_done";
@import "chat/chat_request_detail";

//group
@import "group/group_main";
@import "group/group_feed";

//mypage
@import "mypage/certificate_person_page";
@import "mypage/neighbor_time";
@import "mypage/certificate_page";

//components
@import "chat/chat_calendar";
@import "chat/chat_time_popup";
@import "chat/chat_request_popup";
@import "AI/home_AI";
@import "AI/ai_contents";
@import "AI/ai_profile";
@import "group/group_components";




.navbar_div {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 440px;
    min-width: 340px;
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  
    div {
      text-align: center;
    }
  
    .title,
    .txt {
      margin-top: 4px;
    }
  
    .title {
      color: black;
    }
  
    .txt {
      color: #6c757d;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fade-in 0.5s ease-in-out;
  }

  