#chat_room {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Chat_Main_bg);

    .top {
        width: 100%;
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;

        .back {
            width: 24px;
            height: 24px;
        }

        .booking {
            width: 24px;
            height: 24px;
        }
    }
    .chat{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 70px;
    }

    .contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: normal;
        padding-left: 16px;
        padding-right: 16px;
    }

    .when {
        display: inline-flex;
        padding: 4px 8px 4px 8px;
        align-items: center;
        border-radius: 100px;
        background: var(--bw-black-65, rgba(0, 0, 0, 0.65));
        color: var(--BW-Whtie, #FFF);
        font-size: 11px;
        font-weight: 400;
        line-height: 145%;
        margin-top: 12px;
        margin-bottom: 23px;
    }

    .me {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 6px;
        margin-bottom: 20px;

        .time {
            color: var(--gray-600-txts, #575F70);
            font-size: 11px;
            font-weight: 400;
            line-height: 145%;
        }

        .text {
            border-radius: 24px;
            background: var(--Chat_Main);
            display: flex;
            padding: 12px 16px;
            gap: 10px;
            color: var(--BW-Whtie, #FFF);
            font-size: 15px;
            font-weight: 400;
            line-height: 145%;
        }
    }

    .you {
        display: flex;
        gap: 8px;

        img {
            width: 38px;
            height: 38px;
        }

        .txt {
            display: flex;
            gap: 6px;
            align-items: flex-end;

            .text {
                display: flex;
                padding: 12px 16px;
                gap: 10px;
                border-radius: 24px;
                background: var(--White, #FFF);
                color: var(--txt_primary, #2A2E37);
                font-size: 15px;
                font-weight: 400;
                line-height: 145%;
            }

            .time {
                color: var(--gray-600-txts, #575F70);
                font-size: 11px;
                font-weight: 400;
                line-height: 145%;
            }
        }

    }

    .send_section {
        width: 100%;
        display: flex;
        position: fixed;
        bottom: 0;
        height: 68px;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        background: var(--White, #FFF);

        .send_box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            height: 48px;
            padding: 10px 14px;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            background: var(--surface50, #EEEFF2);

            img {
                width: 24px;
                height: 24px;
            }

            input {
                width: 100%;
                background: none;
                outline: none;
                color: var(--txt_primary, #2A2E37);
            }

            ::placeholder {
                color: var(--Gray-400, #8992A4);
                font-size: 15px;
                font-weight: 400;
                line-height: 145%;
            }
        }
    }
}